# Python bytecode
__pycache__/
*.py[cod]
*.class

# Environments
.venv/
venv/
ENV/
env/

# IDEs
.vscode/
.idea/
*.swp

# LaTeX auxiliary files
*.aux
*.log
*.toc
*.out
*.synctex.gz
*.fls
*.fdb_latexmk

# Databases
*.db
*.sqlite3

# Secrets
.env
proyecto-arqui-g6-7b03afe3bc0f.json

# Postman Collections
tests/postman/collections/
